.withdrawList {
  padding: 24px 24px 0px 24px;
}
.my-wallet {
  font-size: 24px;
}

.balanceArea {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 20px;
  margin: 20px;
  background: white;
  font-size: 32px;
}

.applyArea {
  padding: 20px;
  margin: 20px;
  background: white;
}

.bindBank {
  text-align: center;
  padding: 12px 0px;
  color: #2440b3;
}
