.withdrawList {
  padding: 24px 24px 0px 24px;
}

.balanceArea {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 40px;
}

.applyArea {
  padding: 36px;
}

.bindBank{
  font-size: 32px;
  text-align: center;
  padding: 12px 0px;
  color: #2440B3;
}
