.apply-logistics {
  .apply-logistics__wrap {
    .editArea {
      padding: 20px;
      margin: 20px;
      background: white;
      font-size: 24px;
      .title {
        font-size: 28px;
      }
      .buttonArea {
        padding: 24px;
      }
    }
  }
}
