.user-item {
  padding: 20px;
  margin: 20px;
  background: white;
  border-radius: 8px;
  margin-bottom: 40px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .headContent {
    display: flex;
    align-items: center;
    .nameArea {
      margin-left: 20px;
      flex-grow: 1;
      .name {
        padding-bottom: 20px;
      }
      .role {
        color: red;
      }
    }
  }
}
