@import "~taro-ui/dist/style/components/flex.scss";
.publish-item {
  padding: 20px;
  margin: 20px;
  background: white;
  font-size: 24px;
  border-radius: 8px;
  margin-bottom: 40px;
  .statusContent {
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    .statusTitle{
      display: flex;
      align-items: center;
      .userAvatar{
        width: 46px;
        height: 46px;
        border-radius: 50%;
      }
      .nickName{
        margin-left: 10px;
      }
    }
  }
  .headContent {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    .coverArea {
    }
    .nameArea {
      margin-left: 20px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-grow: 1;
      .name {
        padding-bottom: 20px;
      }
      .price{
        color: #909090;
      }
    }
  }
  .middleContent {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
  }
  .footContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
    .actionArea {
      .actionItem {
        margin-right: 20px;
      }
    }
  }
}
