.bank-auth {
  padding: 24px;
  .imageArea {
    text-align: center;
    .titleImage {
      width: 400px;
      height: 400px;
    }
  }
  .title {
    font-size: 36px;
    text-align: center;
    padding: 40px 0px;
  }
  .titleTip {
    font-size: 32px;
    text-align: center;
    color: #999999;
    padding-bottom: 40px;
  }
}
