@import "@styles/theme.scss";

.publish {
  position: relative;
  .publishForm {
    font-size: 28px;
    background: transparent;
    .formItem {
      padding: 20px;
      margin: 20px;
      background: white;
      .formTitle {
        font-weight: 500;
      }
    }
    .buttonArea{
      padding: 20px;
    }
  }
}

.publish__empty {
  height: 20px;
}
