.admin-apply-detail {
  .admin-apply-detail__wrap {
    font-size: 24px;
    .userInfo {
      padding: 20px;
      margin: 20px;
      background: white;
      .content {
        display: flex;
        .infoContent {
          margin-left: 40px;
          color: #909090;
          .name{
            color: #191919;
            font-weight: 500;
            padding-bottom: 20px;
          }
        }
        .role{
          color: #597EF7;
          text-align: center;
        }
      }
    }
    .applyInfo {
      padding: 20px;
      margin: 20px;
      background: white;
      .content {
        .passButton {
          margin-bottom: 40px;
        }
      }
    }
    .statusInfo {
      padding: 20px;
      margin: 20px;
      background: white;
      .content {
      }
    }
  }
}

.title {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 20px;
}
