@import "~taro-ui/dist/style/components/flex.scss";
.publish-item {
  padding: 24px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
  border-radius: 8px;
  margin-bottom: 40px;
  .headContent {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    .coverArea {
    }
    .nameArea {
      margin-left: 20px;
      font-size: 32px;
      .name {
        padding-bottom: 20px;
      }
    }
  }
  .middleContent {
    font-size: 32px;
    text-align: center;
    padding: 24px;
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
  }
  .footContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
    padding: 24px 0px;
    .actionArea {
      .actionItem {
        margin-right: 20px;
      }
    }
  }
}
