.admin-user-detail {
  .admin-user-detail__wrap {
    .userInfo {
      padding: 24px;
      .content {
        display: flex;
        .infoContent {
          margin-left: 40px;
          font-size: 28px;
        }
      }
    }
    .applyInfo {
      padding: 24px;
      .content {
        font-size: 28px;
        .firstButton {
          margin-bottom: 40px;
        }
      }
    }
  }
}

.title {
  font-size: 36px;
  font-weight: 700;
  padding: 24px 0px;
}
