@import "@styles/theme.scss";

.user {
  position: relative;
}

.user__wrap {
  background: #f4f4f4;
}

.user__logout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 96px;
  background: $white;

  &-txt {
    color: #333;
    font-size: 28px;
    line-height: 28px;
  }
}

.user__empty {
  height: 20px;
}

.user__activity {
  position: absolute;
  right: 30px;
  bottom: 60px;
}

.functionArea {
  padding: 24px;
}

.statusIcon {
  width: 90px;
  height: 90px;
}

.statusText {
  font-size: 28px;
  text-align: center;
}

.loginArea {
  margin: 36px;
  padding: 36px;
  background: white;
  border-radius: 8px;
  .loginTip {
    padding: 36px 0px;
    font-size: 32px;
    text-align: center;
  }
}

.bindPhone {
  padding: 0px 24px;
  .bindPhoneTip {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 32px;
  }
  .bindPhoneButton{
    margin-bottom: 40px;
  }
}
