.order-detail {
  font-size: 24px;
  .order-detail__wrap {
    .statusArea {
      padding: 20px;
      text-align: center;
      margin: 20px;
      background: white;
      .status {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
      }
      .goodsArea {
        display: flex;
        align-items: center;
        padding: 20px 0px;
        .content {
          margin-left: 24px;
          flex-grow: 1;
          text-align: left;
          .price {
            color: #909090;
            .number {
              float: right;
            }
          }
        }
      }
      .infoArea {
        .infoItem {
          padding: 20px 0px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .infoContent {
            color: #909090;
          }
        }
        .totalInfo {
          font-weight: 500;
          text-align: right;
        }
      }
      .buttonArea {
        display: flex;
        justify-content: center;
        align-items: center;
        .actionButton {
          width: 160px;
          margin-right: 20px;
        }
      }
    }
    .addressArea {
      display: flex;
      align-items: center;
      padding: 24px;
      .addressTitle {
        text-align: center;
        margin-right: 24px;
      }
    }
    .noticeContent {
      margin: 20px;
      padding: 20px;
      background: white;
      .title {
        padding-bottom: 20px;
        font-weight: 500;
        align-items: center;
        justify-content: space-between;
        display: flex;
        .copyNotice {
          font-weight: normal;
          font-size: 24px;
          color: #5fafff;
        }
      }
      .content {
        display: flex;
        align-items: center;
        .contentTitle {
          margin-right: 20px;
        }
      }
    }
    .logisticsContent {
      margin: 20px;
      padding: 20px;
      background: white;
      .title {
        font-weight: 500;
        padding-bottom: 20px;
        align-items: center;
        justify-content: space-between;
        display: flex;
        .copyNotice {
          font-weight: normal;
          font-size: 24px;
          color: #5fafff;
        }
      }
      .content {
        .contentItem {
          display: flex;
          align-items: center;
          .contentTitle {
            margin-right: 20px;
          }
          .contentArea {
            color: #909090;
          }
        }
      }
    }
    .codeArea {
      margin: 20px;
      padding: 20px;
      background: white;
      .title {
        font-size: 28px;
        font-weight: 500;
        padding-bottom: 20px;
      }
      .subTitle {
        color: #909090;
      }
      .myCode {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .codeItem {
          margin-right: 20px;
          margin-bottom: 20px;
        }
      }
      .luckCode {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .codeItem {
          margin-right: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
