.add-bank {
  padding: 24px;
  .title {
    padding: 40px 0px;
    text-align: center;
    font-size: 40px;
  }
  .titleTip {
    padding: 36px 0px;
    text-align: center;
    font-size: 36px;
  }
  .picker{
    padding: 32px 24px;
    font-size: 32px;
  }
}
