.publish-detail {
  .publish-detail__wrap {
    .priceArea {
      font-size: 30px;
      padding: 20px;
      margin: 20px;
      background: white;
      .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 24px;
        .fare {
          font-size: 32px;
          color: #999999;
        }
      }
    }
    .infoArea {
      .partyArea{
        padding: 20px;
        margin: 20px;
        background: white;
        font-size: 24px;
        .title{
          font-size: 28px;
          font-weight: 500;
          padding-bottom: 20px;
        }
        .infoItem{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 12px;
          .infoContent{
            color: #909090;
          }
        }
      }
      .introduceArea {
        padding: 20px;
        margin: 20px;
        background: white;
        font-size: 24px;
        .title{
          font-size: 28px;
          font-weight: 500;
          padding-bottom: 20px;
        }
        .introduceContent{
          color: #909090;
        }
      }
      .numList {
        margin: 20px;
        background: white;
        .canvasArea {
          margin: 20px;
          .canvasTitle{
            font-size: 28px;
            font-weight: 500;
            padding-bottom: 20px;
            padding-top: 20px;
          }
        }
      }
      .noticeArea {
        margin: 20px;
        padding: 20px;
        font-size: 24px;
        background: white;
        border-radius: 8px;
        .noticeTitle {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 28px;
          font-weight: 500;
          padding-bottom: 20px;
          .copyNotice{
            font-weight: normal;
            font-size: 24px;
            color: #6FC9FF;
          }
        }
      }
    }
    .bottomArea {
      display: flex;
      justify-content: center;
      align-items: center;
      .share {
        padding: 12px;
      }
      .buy {
        padding: 12px;
      }
    }
  }
}
