.publish-detail {
  .publish-detail__wrap {
    .priceArea {
      font-size: 40px;
      padding: 24px;
      .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 24px;
        .fare {
          font-size: 32px;
          color: #999999;
        }
      }
    }
    .infoArea {
      .introduceArea {
        padding: 24px;
        font-size: 36px;
      }
      .noticeArea {
        margin: 24px;
        padding: 24px;
        font-size: 36px;
        border: 1px solid #999999;
        border-radius: 8px;
        .noticeTitle {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
    .bottomArea {
      display: flex;
      justify-content: center;
      align-items: center;
      .share {
        padding: 12px;
      }
      .buy {
        padding: 12px;
      }
    }
  }
}
