.apply-item {
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 40px;
  background: white;
  font-size: 24px;
  font-weight: 500;
  .headContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nameArea {
      margin-left: 20px;
      display: flex;
      align-items: center;
      .name {
        padding-left: 40px;
      }
    }
  }
}
